* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #19201850;
    color: #0f0f0f;
    justify-self: center;
    align-items: center;
}

.about,.create-web, .graphic, .apps {
    display: inline-block;
    text-align: center;
    padding: 20px;
    justify-content: center;
}

span {
    color: rgba(0, 0, 255, 0.575);
}

h2 {
    font-size: 2rem;
    color: #0f0f0f;
    margin-bottom: 1.rem;
    margin-top: 1rem;
    text-align: center;
}

.about-me, .web-container, .graf-cont,#apps {
    display: inline-block;
    /* font-display: flex; */
    text-align: start;
    /* padding: 20rem; */
    justify-content: center;
    font-size: 1rem;
    width: 70%;
    margin: 1rem auto;
    background-color: rgba(250, 235, 215, 0.219);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(201, 195, 195, 0.788);
    padding: 2rem;
}

hr {
    width: 50%;
    height: 2px;
    background-color: #0f0f0f;
    border: none;
    margin: 1rem auto;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #0f0f0f;
    margin: 1rem 0;
    padding: 2.2rem;


}

a {
    text-align: center;
    display: inline-block;
    margin-top: 1rem;
     border: none;
}

@media  (max-width: 768px) {
    .about-me, .web-container, .graf-cont, #apps {
        width: 90%;
        padding: .5rem;
        margin: .5rem auto;
        
    }
}
@media (max-width: 450px) {
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    .about, .about-me {
        width: 100%;
        padding: 1rem;
        margin: 0.5rem auto;
    }
}

@media (max-width: 50px) {
    .about-me, .web-container, .graf-cont, #apps {
        width: 90%;
        
    }
      h2 {
        font-size: 1.rem;
    }
    p {
        font-size: .8rem;
    }
}